* {
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden;
    font-family: var(--font-sans-serif);
    font-size: var(--fs-paragraph);
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2 {
    font-weight: normal;
    line-height: 1.1;
}

h1 {
    font-size: var(--fs-heading);
    font-family: var(--font-sans-serif-bold);
}

h2 {
    font-size: var(--fs-sub-heading);
    font-family: var(--font-sans-serif-medium);
}

a {
    color: var(--secondary);
}

a:hover {
    color: var(--white);
}


.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    width: 1180px;
    margin: auto;
}

@media (min-width: 0) and (max-width: 768px) {
    .container {
        width: auto;
    }

    .list-unstyled {
        list-style: none;
        margin: 15px 0;
        padding: 0;
    }

    .offcanvas.show:not(.hiding), 
    .offcanvas.showing {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1179px) {
    .container {
        width: auto;
    }

    .list-unstyled {
        list-style: none;
        margin: 15px 0;
        padding: 0;
    }

    .offcanvas.show:not(.hiding), 
    .offcanvas.showing {
        width: 100%;
    }
}