.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: var(--black);
}

.header--home {
    background: transparent;
    height: 816px;
}

.header__logoLink {
    display: block;
    justify-content: left;
}


.header__logo {
    width: 250px;
}

.header__menu {
    background-color: black;
}

.header__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* place la vidéo derrière le contenu */
}


.header__hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--white);
    margin-top: calc(40vh - 100px);
}

.header__slogan {
    font-family: var(--font-sans-serif);
    font-size: var(--fs-heading-bis);
    text-transform: uppercase;
    text-align: center;
}

.header__search {
    display: flex;
    flex-direction: row;
}

video {
    filter: brightness(50%);
}

.bi {
    display: none;
    font-size: 4rem;
}

@media (min-width: 0) and (max-width: 768px) {
    .header {
        width: 100%;
        height: auto;
        background: var(--black);
    }

    .header--home {
        width: 100%;
        height: auto;
    }

    .header__logo {
        width: 100px;
    }

    .header__video {
        height: auto;
    }
    
    .header__hero {
        margin: 20px 0;
        width: 100%;
    }

    .header__slogan {
        font-size: var(--fs-sub-heading);
        line-height: 30px;
    }

    .header__search {
        display: none;
    }

    video {
        width: 100%;
        height: auto;
    }

    .bi {
        display: block;
        color: var(--white);
    }

}

@media (min-width: 769px) and (max-width: 1179px) {
    .header--home {
        width: 100%;
        height: auto;
    }

    .header__logo {
        width: 100px;
    }

    .header__video {
        height: auto;
    }
    
    .header__hero {
        margin: 100px 0;
        width: 100%;
    }

    .header__slogan {
        font-size: var(--fs-heading);
        line-height: 50px;
    }

    .header__search {
        display: none;
    }

    video {
        width: 100%;
        height: auto;
    }

    .bi {
        display: block;
        color: var(--white);
        font-size: 6rem;
    }

}