.services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.services-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 15px;
}

.services-list__first-column,
.services-list__last-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
}

.services-list__mid-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 125px;
}

.services-list__titre {
    line-height: 30px;
    font-family: var(--font-racing-sans-one-sans-serif);
    font-size: var(--fs-heading-bis);
}

.services-list__icon {
    display: block;
    font-size: 50px;
    width: 60px; /*Taille pour les icones sous forme svg*/
}