.filtre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.filtre--mobile {
    display: none;
}

.filtre__itemsLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filtre__item {
    width: 120px;
    height: 120px;
    opacity: 30%;
}

.filtre__item:hover {
    opacity: 100%;
}

.filtre__text {
    color: var(--black); 
    text-align: center; 
    font-size: var(--fs-paragraph-bis);
    text-transform: uppercase;
}

.filtre__item--autre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 0) and (max-width: 768px) {
    .filtre {
        display: none;
    }

    .filtre--mobile {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .filtre__item {
        width: auto;
        height: auto;
    }

    .filtre__logo {
        width: 75px;
    }

    .filtre__itemsLogo--firstLine {
        gap: 30px;
    }
}

@media (min-width: 769px) and (max-width: 1179px) {
    .filtre__itemsLogo {
        justify-content: space-around;
        gap: 100px;
    }

    .filtre__item {
        width: auto;
        height: auto;
    }

    .filtre__logo {
        width: 95px;
    }
}