.menu {
    background-color: black;
    color: var(--white);
    z-index: 1;
    inset: 0;
    height: 80px;
    padding-inline: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative; /* put content above overlay */
}

.menu--accueil {
    background-color: transparent;
}

.menu__item {
    display: flex;
    align-items: stretch;
    margin-top: 0;
    position: relative;
}

.menu__item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 0px;
    background-color: var(--primary);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.menu__item:hover::before {
    height: 2px;
    transform: scaleX(2);
}

.menu__link {
    color: var(--white);
    font-size: var(--fs-sub-heading);
    font-family: var(--font-sans-serif-medium);
    text-decoration: none;
    display: block;
}

.menu__link:hover {
    color: var(--primary);
    transition: all 0.3s ease;
}

.menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.menu__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.menu__iconLink {
    display: flex;
    width: 32px;
    height: auto;
    justify-content: center;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(1807%) hue-rotate(323deg) brightness(110%) contrast(97%);
}

.menu__iconLink:hover {
    filter: brightness(0) saturate(100%) invert(14%) sepia(93%) saturate(4920%) hue-rotate(351deg) brightness(92%) contrast(85%);
    transition: all 0.5s ease;
}

.menu__logoLink {
    display: block;
    justify-content: left;
}


.menu__logo {
    width: 250px;
}

@media (min-width: 0) and (max-width: 768px) {
    .offcanvas {
        height: 222px;
        background-color: var(--gray-800);
    }

    .btn-close {
        font-size: 1.5rem;
        width: auto;
        opacity: 100%;
    }

    .menu {
        justify-content: space-between;
    }

    .menu__list{
        display: none;
    }

    .menu__link {
        font-size: var(--fs-paragraph-bis);
    }

    .menu__social {
        display: none;
    }

    .menu__iconLink {
        width: 22px;
    }

    .menu__list--canva {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .menu__social--canva {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu__icons {
        display: none;
    }

    .menu__logo {
        width: 125px;
    }
}

@media (min-width: 769px) and (max-width: 1179px) {
    .offcanvas {
        height: 375px;
        background-color: var(--gray-800);
    }

    .btn-close {
        font-size: 2.5rem;
        width: auto;
        opacity: 100%;
    }

    .menu {
        justify-content: space-between;
    }

    .menu__list{
        display: none;
    }

    .menu__link {
        font-size: var(--fs-heading);
    }

    .menu__social {
        display: none;
    }

    .menu__iconLink {
        width: 42px;
    }

    .menu__list--canva {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .menu__social--canva {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu__icons {
        display: none;
    }

    .menu__logo {
        width: 180px;
    }
}