.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 40%;
  top: 10%;
  width: 430px; /* Full width */
  height: 715px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--black); /* Black w/ opacity */
}

/* Modal Content */
.modal__content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.close {
  width: 35px;
}

.close:hover,
.close:focus {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}

.modal__container-title {
  display: flex;
  flex-direction: column;
}

.bi-gear-fill,
.bi-car-front-fill,
.bi-palette-fill,
.bi-lock-fill,
.bi-file-earmark-text-fill,
.bi-lightbulb-fill,
.bi-volume-up-fill,
.bi-shield-fill {
  display: block;
  color: var(--primary);
}

.modal__title {
  color: var(--primary);
  margin-bottom: 50px;
}

.modal__container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 50px;
}

.modal__text {
  margin: 0;
}

.bi-x-lg {
  display: block;
  font-size: 35px;
  float: right;
}